.headerimgresponsive {
  width: 100%;
  height: auto;
}

main{
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

main img{
  max-width: 100%;
}

main h2{
  font-size: 30px;
  margin: 40px 0 10px;
}

main a{
  color: black;
}

main a:hover{
  background-color: black;
  color: white;
}

p.caption{
  margin-top: 0;
  color:  grey;
  font-style: italic;
  font-size: 20px;
}

header{
  background-color: black;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

/*Gallery section*/

.gallery{
  max-width: 800px;
  margin: 0 auto ;
  padding: 0;
  color: black(72, 61, 139);
  font-size: 20px;
}


.gallery img{
  border-radius: 100%;
  overflow: hidden;
  width: 150px;
  height: 150px;
}

footer{
  background-color: deepskyblue;
  text-align: center;
  padding: 30px;
}

footer p{
  margin: 0;
  color:  white;
  font-size: 20px;
}

footer a{
  color: white;
}

footer a:hover{
  background-color: white;
  color: whitesmoke;
}




