<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Olympic Winter Games </title>
	<link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>
<img class="headerimgresponsive" src="top picture.png" width="1120" height="120"></a>


<!-- Gallery section -->
</style>
</head>
<body>
<div.gallery>
<div class="gallery">
  <a target="_blank">
    <img src="imgage1.jpg" alt="Cinque Terre" width="600" height="400">
  </a>
  <div class="desc">They are winter heroes</div>
</div>

<div class="gallery">
  <a target="_blank">
    <img src="imgage2.jpg" alt="Forest" width="600" height="400">
  </a>
  <div class="desc">They are winter heroes</div>
</div>

<div class="gallery">
  <a target="_blank">
    <img src="imgage3.jpg" alt="Northern Lights" width="600" height="400">
  </a>
  <div class="desc">They are winter heroes</div>
</div>

<div class="gallery">
  <a target="_blank">
    <img src="imgage4.jpg" alt="Mountains" width="600" height="400">
  </a>
  <div class="desc">They are winter heroes</div>
</div>


<!-- Super Stars section -->
<main>
<p><h1>Beijing Olympic Winter Games</h1></p>

<p><h1>Super Stars</h1></p>
<div class="container">
  <img src="Ailing Gu.jpg" style="width:50%;">
  <div class="content">
    <h2>Ailing Gu</h2>
    <p>Equally at home on the slopes as she is in photo shoots, 16-year-old high schooler Gu Ailing Eileen wants to represent China at the Beijing 2022 Winter Olympics. She's looking forward to representing her mother's homeland at Beijing 2022, and continuing to "do multiple different things".</p><br>
  </div>
</div>

<div class="container">
  <img src="Hanyu Yuzuru.jpg" style="width:50%;">
  <div class="content">
    <h2>Hanyu Yuzuru</h2>
    <p>Hanyu Yuzuru, (born December 7, 1994, Sendai, Japan), Japanese figure skater who at the 2014 Winter Games in Sochi, Russia, became the first Japanese man to win an Olympic gold medal in figure skating. He added a second Olympic gold four years later at the 2018 Winter Games in P’yŏngch’ang, South Korea.</p><br>
  </div>
</div>


<!-- Exciting Moment Hyperlinks -->
<p><h1>Exciting Moment</h1>
<p><li><a href="https://www.youtube.com/watch?v=zZnFZyT8QU0">Ailing Gu finished 1620</a></li><br>
<li><a href="https://www.youtube.com/watch?v=TVHBLnm1SEc">Yiming Su won gold medal</a></li><br>
<li><a href="https://www.youtube.com/watch?v=D35ANhKWsc4">Hanyu Yuzuru gave amazing performance</a></li><br></p>
</main>

<!-- Footer section -->
<footer>
		<p>What doesn't kill you, <a href="https://olympics.com/en/beijing-2022/" target="_blank">makes you stronger</a></p>
	</footer>



</body>
</html>